 #header {
	position : relative;
	width : 100%;
	height : auto;
	top : 0px;
	bottom : auto;
	right : 0;
	left : 0px;
 }
 
 #headerlogo {
 	position : absolute;
	width : 88%;
	height : auto;
	top : 2px;
	bottom : auto;
	right : 0;
	left : 2px; 
 }
  
 #loginstate {
 	position : absolute;
	height : auto;
	top : 0;
	bottom : auto;
	right : 5px;
	display : inline-block;
    text-align : right;
 }
  
 #navibar {
	position : fixed;
	height : auto;
	top : 90px;
	left : 0;
	width : 100%;
 }
 
 #menu {
	position : fixed;
	bottom : 0px;
	top : 132px;
	left : -5px;
	width : 215px;
	overflow-y : auto;
	overflow-x : hidden;
}
 
 #content {
	position : fixed;
	top : 131px; 
	bottom : 40px; 
	left : 200px;
	right : 0px;
	overflow : auto;
	border-left : 1px solid #cccccc;
	border-bottom : 1px solid #cccccc;	
	padding-left : 5px;
	padding-right : 5px;
	padding-top : 5px;
 }

 #footer {
	position : fixed;
	width : auto;
	height : 35px;
	top : auto;
	bottom : 0;
	left : 200px;
	right : 0;
	border-left : 1px solid #cccccc;
 } 

.itemtable {
    border: 1px solid #dddddd;
    width: 100%;
	font-size: 90%;
	color: #444455;

}
.itemtable tr {
    border: 1px dashed #dddddd;
}

.active_item {
    background-color: #dddddd;
}

.hidden {
    display: none;
	background-color: #f0f0f0;
}

.unread {
    font-weight: bold;
}